.ui.feed {
    color: white;
    background: black;
    margin-left: 50%;
    margin-right: 50%;
	font-weight: bold;
    font-size: 150%;
}

.ui.segment {
    background: black;
    width: 100%
}

a {
    color: white;
}